{% extends 'base.html.twig' %}


{% block title %}Détail wish{% endblock %}

{% block body %}
    <div class="row text-center">
        {% for messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-success">
                    {{message}}
                </div>
            {% endfor %}
        {% endfor %}
    </div>

    <h2> {{wish.title|capitalize }} </h2>
    <small>{{wish.author}} | {{wish.dateCreated|date("d-m-Y H:i") }}</small>
    <p>{{wish.description}}</p>

{% endblock %}